
<div class="d-flex justify-content-center">
  <div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="card mb-3">
  <div class="mx-auto">
    <br />

    <table class="table table-success table-striped">
      <body>
        <ul class="list-group">
          <li
            (click)="setCurrentCar(car)"
            routerLink="/cars/cardetail/{{ car?.carId }}"
            *ngFor="let car of car"
            [class]="getCurrentCarClass(car)"
          >
            <tr>
              <strong>Marka: </strong>
              {{
                car?.brandName
              }}
            </tr>
            <tr>
              <strong>Model: </strong>
              {{
                car?.modelYear
              }}
            </tr>
            <tr>
              <strong>Renk: </strong>
              {{
                car?.colorName
              }}
            </tr>
            <tr>
              <strong>Günlük Kiralama Fiyatı: </strong>
              {{
                car?.dailyPrice | currency: "TRY":"symbol-narrow":"1.2-2"
              }}
            </tr>
            <tr>
              <strong>Açıklama: </strong>
              {{
                car?.description
              }}
            </tr>
          </li>
        </ul>
      </body>
    </table>

    <div class="d-grid gap-2">
      <button
        routerLink="/cars/rental/{{ carId }}"
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Aracı Kirala
      </button>
    </div>

    <div class="card-body d-grid gap-2 mx-auto">
      <div class="btn-group me-2">
        <div style="margin: auto">
          <div
            class="modal fade"
            id="rentCar"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
