<div>------------------Araba----------------------</div>
<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-danger"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded == true" class="table">
  <div class="row">
    <div class="col-md-4" *ngFor="let car of cars">
      <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="PİCTURE">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center" routerLink="/cars/details/{{car.carId}}">{{ car.model }}</h5>
            <p class="card-text"><b>Brand:</b> {{ car.brandName }}</p>
            <p class="card-text"><b>Color:</b> {{ car.colorName }}</p>
            <p class="card-text"><b>Year:</b> {{ car.modelYear }}</p>
            <p class="card-text"><b>Description:</b> {{ car.description }}</p>
            <p class="card-text" style="text-align:center"><b>{{ car.dailyPrice }}$/Day</b></p>
          <a class="btn btn-primary" (click)="setCurrentCar(car)" routerLink="/cars/details/{{car.carId}}">Details</a>
        </div>
      </div>
    </div>
  </div>
</table>
